input.search-box-input {
    height: 100%;
    border: 1px solid #ced4da;
}
input.search-box-input:focus {
    box-shadow: none;
}

@media only screen and (max-width: 576px) {
    .input-group .input-group-append {
        width: 100%;
    }
    .input-group .input-group-append .btn.search-box-btn {
        width: 100%;
        padding: .5rem 1.5rem;
    }
}